@import url(//db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold);
@import url(https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap);

$font-pri: 'Satoshi', sans-serif;
$font-primary: "Druk Wide Web Bold";
$color-blue: #2901E8;
$color-yellow: #FFF480;
$color-light-blue: #CBE5FF;
$color-light-green: #D0FF94;
$color-green: #78F3E2;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #8f8d8d5b;